* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard", Nanum Gothic, serif;
  }
  
  body {
    font-family: "Pretendard", sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 912px;
    padding: 40px;
    border: 1px solid #e4ebf0;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 40px auto;
  }
  
  .container-wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: 150px 1fr;
  }

  /* .btn-outline-primary.active {
    background-color: #007bff;
    color: #fff;
  } */
  
  .education-title,
  .final-career,
  .information,
  .job-select,
  .big-job-select-title,
  .small-job-select-title,
  .job-experienc-title {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: rgb(58, 62, 65);
    color: #3a3e41;
  }
  
  .job-select1{
      /* background-color: red; */
      width: 300px;
      margin-left: 175px;    
  }
  
  .job-experienc{
      /* background-color: red; */
      width: 300px;
      margin-left: 175px;   
  }
  .school-name-wrap{
      /* background-color: red; */
      width: 300px;
      margin-left: 175px;   
  }
  
  .Major-in-University-title,
  .complete-title,
  .school-name-title,
  .name,
  .contact,
  .email {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(58, 62, 65);
  }
  
  .school-name-wrap,
  .name-contact-email {
    display: grid;
    gap: 20px;
  }
  
  .information-wrap-namebox,
  .information-wrap-contactbox,
  .information-wrap-emailbox {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 12px;
    align-items: center;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .namebox,
  .contactbox,
  .emailbox,
  .big-job-select-option,
  .small-job-select-option,
  .job-experienc-option {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #f0f2f5;
  }
  
  .line-divde {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 1px;
    background-color: #eef3f6;
  }
  
  .all_btn{
    background-color: red;
    width: 200px; 
    margin: 0px auto 500px auto;
  }